#dashboard {
    display: grid;
    grid-template-columns: 1fr 660px;
    grid-template-rows: 450px 800px;
    margin: 20px 0 0 20px;
    column-gap: 20px;
    row-gap: 20px;
}

#todayTask {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#upcommingTask {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#todayTask h2, #upcommingTask h2 {
    font-size: 20px;
    font-weight: 500;
}

#statistic {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 100px);
    row-gap: 20px;
    column-gap: 20px;
}

#totalNumTask {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#totalNumTask h3 {
    font-size: 25px;
    font-weight: 500;
}

#totalNumTask p {
    font-size: 25px;
    font-weight: 500;
    margin-left: 5px;
}

#numFinishedTask, #numUnfinishedTask {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

#numUnfinishedTask {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#numFinishedTask {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#numPendingTask, #numFulfilledTask, #numFailingTask {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

#numPendingTask {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#numFulfilledTask {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#numFailingTask {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}


#chart {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#pieChart {
    width: 360px;
    height: 360px;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff  ;
    margin-top: 20px;
}

#barChart {
    width: 600px;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
}

#numPendingTask, #numFulfilledTask, #numFailingTask, #pieChart, #barChart, #numFinishedTask, #numUnfinishedTask, #totalNumTask {
    border: 2px solid transparent;
}

#numPendingTask:hover, #numFulfilledTask:hover, #numFailingTask:hover, #pieChart:hover, #barChart:hover, #numFinishedTask:hover, #numUnfinishedTask:hover, #totalNumTask:hover {
    border: 2px solid black;
}

#dashboard li {
    list-style: none;
}

#todayTask ul, #upcommingTask ul{
    height: 450px;
    overflow: auto;
}