#dashboard {
    width: 100%;
}

#dashboard #dashboardHeader {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: rgba(244, 91, 105);
    align-items: center;
}

#dashboard #dashboardHeader h3 {
    font-size: 25px;
    color: white;
}
#dashboard li {
    list-style: none;
}

#dashboardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dashboardBody > ul {
    width: 60%;
}

.dashboardDate {
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
    border-bottom: 3px #40A2D8 solid;
}

@media screen and (max-width : 499px) {
    .dashboardDate {
        font-size: 15px;
    }
}

.nothingPlan {
    background-image: url('../../img/user/nothingplanDashboard.png');
    height: 100px;
    background-size: contain;
    background-repeat: space;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nothingPlan p {
    font-size: 25px;
    font-weight: 500;
    padding: 5px;
    background-color: white;
}

@media screen and (max-width : 499px) {
    .nothingPlan {
        height: 50px;
    }
    
    .nothingPlan p {
        font-size: 10px;
    }
}


.deadlineTask ul {
    width: 100%;
}

.listDeadlineTask {
    display: none;
}

.openFinishedTasks {
    color: rgb(62, 62, 245);
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width : 499px) {
    .openFinishedTasks {
        font-size: 12px;
    }
}

#toggleFinishedTask input {
    display: none;
}

#toggleFinishedTask label {
    display: block;
    width: 80px;
    height: 42px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    background-color: grey;
    position: relative;
    transition-duration: 0.5s;
}

#toggleFinishedTask input:checked + label {
    background-color: aquamarine;
}

#toggleFinishedTask label::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: azure;
    border-radius: 50%;
    transition-duration: 0.5s;
    border: 1px solid black;
}

#toggleFinishedTask input:checked + label::before {
    left: 50%;
}
