.homepageTask {
    list-style-type: none;
    background-color: var(--taskColor);
}

.taskBody {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
    align-items: center;
}

.taskBody h4{
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width : 499px) {
    .taskBody {
        padding: 5px;
    }
    .taskBody h4{
        font-size: 14px;
    }
}

.taskBody .taskNameAndTaskStatus {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    width: 70%;
    max-width: 400px;
}


/* =========================== TASK IMPORTANT =========================== */
.important input[type="checkbox"]{
    visibility: hidden;
    width: 0;
    height: 0;
}

.important label svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    cursor: pointer;
    position: relative;
    top: 2px;
    fill: #fff;
}

.important input[type=checkbox]:checked + label svg {
    fill: rgb(237, 237, 42);
}


/* =========================== TASK NAME =========================== */
.taskBody .taskNameAndTaskStatus .taskName {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 1 / 2;
}

@media screen and (max-width : 499px) {
    .taskBody h4{
        font-size: 14px;
    }

    .taskBody .taskNameAndTaskStatus {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 80%;
        max-width: 400px;
    }
}
/* =========================== TASK STATUS =========================== */
.taskStatus {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 10px;
    height: 10px;
    border: 1.5px solid black;
    border-radius: 50%;
    position: relative;
    top: 2px;
    margin-right: 3px;
}
@media screen and (max-width : 499px) {
    .checkbox {
        width: 7px;
        height: 7px;
    }

    .taskStatus p{
        font-size: 12px;
    }
}

.pending {
    background-color: orange;
}

.fulfilled {
    background-color: greenyellow;
}

.failing {
    background-color: red;
}


.backgroundDelete {
    background-color: antiquewhite;
}

.backgroundNonDelete {
    background-color: white;
}

/* =========================== TASK FUNCTION =========================== */
.taskFunction {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width : 499px) {
    .taskFunction {
        width: max-content;
    }
}

.taskFunction .deadline {
    font-weight: 500;
    margin-right: 10px;
    font-style: italic;
    display: flex;
    width: 170px;
}

@media screen and (max-width : 499px) {
    .taskFunction .deadline {
        display: none;
    }
}

.changeStatus {
    accent-color: green;
    width: 25px;
    height: 25px;
    outline: 1px dashed black;
    margin-right: 5px;
}

@media screen and (max-width : 499px) {
    .changeStatus {
        width: 15px;
        height: 15px;
    }
}

/* =========================== TASK INFO BODY =========================== */
.taskInfoBody {
    transition-duration: 0.5s;
    transition-property: height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.taskInfoHidden {
    height: 0px;
    opacity: 0;
    visibility: hidden;
    border: 0;
}

.taskInfoVisible {
    border: 2px dashed black;
    height: 200px;
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width : 499px) {
    .taskInfoVisible {
        height: 150px;
    }
}

.taskInfoDescription {
    margin-left: 10px;
}

.taskInfoDescription p{
    font-size: 17px;
}

@media screen and (max-width : 499px) {
    .taskInfoDescription p{
        font-size: 12px;
    }
}

.taskInfoDescription span {
    font-weight: 500;
}


.taskInfoButton {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.taskInfoButton button{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width : 499px) {
    .taskInfoButton button{
        padding: 5px;
        font-size: 14px;
    }
}

.taskInfoDisplayButton {
    padding: 2px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid grey;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 900;
}

@media screen and (max-width : 499px) {
    .taskInfoDisplayButton {
        width: 15px;
        height: 15px;
        font-size: 8px;
        margin-left: 0;
    }
    
}


/* =========================== TASK NOT FINISH =========================== */

.taskFinish .taskInfoVisible {
    height: 150px;
}

.taskFinish .note {
    font-size: 13px;
    font-style: italic;
}

@media screen and (max-width : 499px) {
    .taskFinish .note {
        font-size: 10px;
    }
    .taskFinish .taskInfoVisible {
        height: 100px;
    }
}


.fulfilledTask {
    background-color: #A8CD89;
}

.failingTask {
    background-color: #F9C0AB;
}

.taskFinish .deadline {
    text-decoration: line-through;
}


/* =========================== TASK DASHBOARD =========================== */
.taskDashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.taskDashboard .taskName {
    display: flex;
    margin-left: 10px;
    width: 70%;
}

@media screen and (max-width : 499px) {
    .taskDashboard .taskName {
        font-size: 12px;
    }

    .taskDashboard .important label svg {
        height: 15px;
        width: 15px;
    }
}

.taskDashboard .taskFunction {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    width: 30%;
}

.taskDashboard .taskStatus {
    display: flex;
}

#dashboard .taskInfoBody > div {
    margin-left: 10px;
    margin-top: 5px;
}


#dashboard .taskInfoVisible { 
    height: 150px;
}

#dashboard span {
    font-weight: 500;
}

@media screen and (max-width : 499px) {
    #dashboard .taskInfoBody p{
        font-size: 12px;
    }

    #dashboard .taskInfoVisible { 
        height: 120px;
    }
}

/* ===================== CALENDAR ===============================*/
.dateDetail {
    margin: 10px 0;
    border: 2px #40A2D8 solid;
    width: max-content;
    padding: 5px;
}

.taskCalendarBody {
    display: flex;
    align-items: center;
}

.taskCalendarBody .taskCalendarMain {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

@media screen and (max-width : 499px) {
    .dateDetail {
        width: 100%;
    }
    
    .taskCalendarBody {
        width: 100%;
        justify-content: space-evenly;
    }
    
    .taskCalendarBody .taskCalendarMain {
        width: 80%;
    }
}

.taskCalendarBody .taskName {
    display: flex;
    align-items: center;
}

.taskCalendarBody h4, .taskCalendarDescription span {
    font-weight: 500;
}

@media screen and (max-width : 499px) {
    .taskCalendarBody h4 {
        font-size: 12px;
    }

    .taskCalendarBody .important label svg {
        height: 15px;
        width: 15px;
    }
}

#calendarPage .taskInfoBody {
    transition-duration: 0.5s;
    transition-property: height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 100%;
}

#calendarPage .taskInfoHidden {
    height: 0px;
    opacity: 0;
    visibility: hidden;
    border: 0;
}

#calendarPage .taskInfoVisible {
    border: 0;
    border-top: 2px dashed black;
    height: 128px;
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width : 499px) {
    #calendarPage .taskInfoVisible {
        height: 100px;
    }
    .taskCalendarDescription p {
        font-size: 12px;
    }
}


#calendarPage ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}