#aboutUs {
    height: 92vh;
    width: 100vw;
    background-color: rgba(244, 91, 105, 1);
    box-sizing: border-box;
}

@media screen and (max-width : 499px) {
    #aboutUs {
        height: 95vh;
    }
}

@media screen and (max-height: 600px) {
    #aboutUs {
        height: 100vh;
    }
}

#aboutUsIntro {
    padding-top: 10px;
    text-align: center;
    color: white;
}

#aboutUsIntro h2 {
    font-size: 50px;
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #aboutUsIntro h2 {
        font-size: 30px;
    }
}

#aboutUsIntro p {
    font-style: italic;
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #aboutUsIntro p {
        font-size: 13px;
    }
}

#aboutUsIntro span {
    font-style: normal;
}

#aboutUsMain {
    width: 750px;
    margin: 0 auto;
    margin-top: 30px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
}

@media screen and (max-width : 499px) {
    #aboutUsMain {
        max-width: 400px;
        min-width: 300px;
        width: 100%;
        height: 450px;
    }
}

@media screen and (min-width: 500px) and (max-width : 850px) {
    #aboutUsMain {
        height: 450px;
    }
}

@media screen and (max-height: 600px) {
    #aboutUsMain {
        height: 65vh;
        overflow-y: scroll;
        margin: 10px;
        min-height: 200px;
    }
}

#aboutUsMain ul {
    display: flex;
    flex-flow: column wrap;
    list-style: circle;
}

#aboutUsMain li {
    list-style-type:circle;
    list-style: inside;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

#aboutUsMain li span {
    font-weight: 700;
}
#aboutUsMain div {
    width: 700px;
    margin: 0 auto;
}

#aboutUsMain h3 {
    margin-top: 20px;
}

#aboutUsMain div h3:nth-child(1) {
    padding-top: 20px;
}

@media screen and (max-height: 600px) {
    #aboutUsMain div h3:nth-child(1) {
        padding-top: 0;
        margin-top: 10px;
    }
}

#aboutUsMain a {
    text-decoration: none;
    color: rgba(244, 91, 105, 1);
    font-weight: 500;
}

#aboutUsMain a:visited {
    color: rgba(244, 91, 105, 1);
}


#aboutUsMain h4 {
    width: max-content;
    margin: 0 auto;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
}

#aboutUsMain h4:nth-child(1) {
    margin-top: 35px;
}

@media screen and (max-height: 600px) {
    #aboutUsMain h4:nth-child(1) {
        margin-top: 10px;
    }
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #aboutUsMain p, #aboutUsMain a,  #aboutUsMain li{
        font-size: 13px;
    }

    #aboutUsMain h3 {
        font-size: 15px;
    }

    #aboutUsMain h4 {
        font-size: 18px;
    }
}

@media screen and (max-width : 499px) {
    #aboutUsMain div {
        max-width: 400px;
        min-width: 300px;
        width: 90%;
    }
}