#aboutUsIntro {
    background: linear-gradient(-90deg, #a1c4fda4 0%, #c2e9fb9d 100%);
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0px;
}

#introContent {
    display: flex;
    grid-column: 1 / 2;
    text-align: left;
    flex-direction: column;
    align-items: center;
}

.title {
    background: linear-gradient(135deg, rgba(235, 231, 255, 0.3) 0%, rgba(202, 217, 254, 0.3) 18.75%, rgba(218, 208, 255, 0.3) 45.72%, rgba(177, 234, 251, 0.3) 66.99%, rgba(209, 245, 255, 0.3) 100%);
    color: rgb(106 101 255);
    font-weight: 500;
    font-size: 18px;
    padding: 5px 16px;
    width: max-content;
    border-radius: 15px;
}

#aboutUsIntro h2 {
    font-size: 50px;
    width: 300px;
    color: rgb(14 0 74);
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #aboutUsIntro h2 {
        font-size: 30px;
    }
}

#aboutUsIntro p {
    font-size: 18px;
    width: 250px; 
    margin-top: 20px;
    color: rgb(69 56 120);
}

#aboutUsIntro button {
    background-color: rgb(106 101 255);
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
    width: max-content;
    border: 3px solid rgb(106 101 255);
    transition-duration: 0.5s;
}

#aboutUsIntro button:hover {
    background-color: white;
    color: rgb(106 101 255);
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #aboutUsIntro p {
        font-size: 13px;
    }
}

#feature {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

#feature h2 {
    font-size: 35px;
    color: rgb(14 0 74);
    margin-top: 20px;
}

#feature > p {
    font-size: 18px;
    margin-top: 20px;
    color: rgb(69 56 120);
}

#featureList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.featureItem {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    padding: 30px;
    margin-left: 30px;
    margin-top: 20px;
    height: 300px;
}

.featureItemContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.featureItemContent h4 {
    color: rgb(14 0 74);
    font-size: 35px;
}

.featureItemContent p {
    width: 200px;
    font-size: 18px;
    color: rgb(69 56 120);
}
#feature1 {
    background: linear-gradient(45deg, #e3f0ff 0%, #dcf2fc 100%);
}

#feature2 {
    background: linear-gradient(120deg, #a1c4fda4 0%, #c2e9fb9d 100%);
}

#feature3 {
    background: linear-gradient(195deg, #82b1fca4 0%, #a9dff89d 100%);
}