* {
    margin: 0;
    padding: 0;
}

#homepage nav {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-sizing: border-box;
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #homepage nav {
        height: 40px;
    }
}

#homepage ul {
    display: flex;
    justify-content: space-between;
}

#homepage li {
    list-style-type: none;
    padding: 10px 15px;
    box-sizing: border-box;
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #homepage li {
        padding: 3px;
        margin: 0;
    }
}

#homepage nav a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (min-width: 500px) and (max-width : 850) {
    #homepage nav a {
        font-size: 1.5rem;
        padding: 0;
    }
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #homepage nav a {
        font-size: 1rem;
        padding: 3px;
    }
}

#homepage a.match {
    color: #ffff;
    background-color: black;
}

#homepage a.noMatch {
    color: black;
    background-color: white;
}

#companyName {
    display: flex;
    align-items: center;
}

#companyName p {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #companyName p {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
    
}

#navList {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}