#login {
    background-color: rgba(244, 91, 105);
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width : 499px) {
    #login {
        height: 95vh;
    }
}

@media screen and (max-height: 600px) {
    #login {
        height: 100vh;
        overflow-y: scroll;
    }
}

#loginMain {
    background-color: rgba(244, 91, 105);
    margin: 0 auto;
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

@media screen and (max-width : 499px) {
    #loginMain {
        width: 100%;
        height: 45vh;
    }
}

@media screen and (max-height: 600px) {
    #loginMain {
        width: 500px;
        height: 300px;
        overflow-y: scroll;
    }
}

#loginSignUp {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

@media screen and (max-width : 850px) {
    #loginSignUp {
        width: 95%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin: 0 auto;
    }
}

#loginIntro {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 2px solid grey;
}

@media screen and (max-width : 850px) {
    #loginIntro {
        display: none;
    }
    
}

.input {
    width: 360px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 5px;
}

.input label{
    display: block;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
}

.input input{
    border-radius: 5px;
    font-size: 16px;
    background: #e8e7e7;
    width: 360px;
    border: 1px solid #F1F0E8;
    box-sizing: border-box;
    padding: 12px;
    margin: 8px 0;
}

@media screen and (max-width : 499px) {
    .input {
        width: 90%;
        max-width: 400px;
        min-width: 250px;
    }
 
    .input label{
        max-width: 400px;
        min-width: 250px;
        margin-top: 10px;
        font-size: 13px;
        width: 100%;
    }
    
    .input input{
        font-size: 13px;
        padding: 10px;
        max-width: 400px;
        min-width: 250px;
        width: 100%;
    }
}

@media screen and (max-height: 600px) {
    .input label{
        margin-top: 10px;
        font-size: 13px;
    }
    
    .input input{
        font-size: 13px;
        padding: 10px;
    }
}

.input input:focus {
    border: 1px solid black;
}

#loginSignUp h2 {
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 30px;
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #loginSignUp h2 {
        font-size: 20px;
        margin-bottom: 0;
    }
}

#loginForm input[type=submit] {
    display: block;
    background-color: rgba(244, 91, 105, 1);
    width: max-content;
    padding: 10px 155px;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(244, 91, 105, 1);
    border-radius: 10px;
    margin-top: 10px;
}

@media screen and (max-width : 499px) {
    #loginForm input[type=submit] {
        margin-top: 20px;
        font-size: 13px;
        padding: 10px 20px;
        
    }
}

#loginFormFooter {
    text-align: right;
    width: 360px;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width : 499px) {
    #loginFormFooter {
        max-width: 400px;
        min-width: 300px;
        width: 90%;
    }
}

#loginFormFooter a {
    color: rgba(244, 91, 105, 1);
    font-size: 16px;
    text-decoration: none;
}

#loginFormFooter a:visited {
    color: rgba(244, 91, 105, 1);
}

#message {
    width: 360px;
    margin: 0 auto;
    font-weight: 400;
}

@media screen and (max-width : 499px) {
    #loginFormFooter a {
        font-size: 13px;
        max-width: 400px;
        min-width: 250px;
        width: 90%;
        margin: 0 auto;
    }

    #message {
        max-width: 400px;
        min-width: 250px;
        width: 90%;
        font-size: 13px;
        margin: 0 auto;

    }
}

@media screen and (max-height: 600px) {
    #loginFormFooter a {
        font-size: 13px;
    }

    #message {
        font-size: 13px;
        margin: 0 auto;
    }
}

#loginIntro a {
    color: rgba(244, 91, 105);
    font-size: 16px;
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: solid;
    border-radius: 10px;
    border: 2px solid rgba(244, 91, 105);
    padding: 10px 20px;

}

#loginIntro p:nth-child(2) {
    padding-bottom: 10px;
}
