#login {
    background: linear-gradient(-90deg, #a1c4fda4 0%, #c2e9fb9d 100%);
    height: 92vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#loginMain {
    grid-column: 2 / 3;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
}

#loginContext {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: 600px;
    width: 450px;
    align-items: center;
    border-radius: 10px;
}

@media screen and (max-width : 850px) {
    #loginIntro {
        display: none;
    }
}

.input {
    width: 360px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 5px;
}

.input input{
    font-size: 16px;
    background: #F8F8F8;
    width: 360px;
    box-sizing: border-box;
    padding: 12px;
    margin: 8px 0;
    border: 0;
    border-bottom: 3px solid #efefef;
}

@media screen and (max-width : 499px) {
    .input {
        width: 90%;
        max-width: 400px;
        min-width: 250px;
    }
    
    .input input{
        font-size: 13px;
        padding: 10px;
        max-width: 400px;
        min-width: 250px;
        width: 100%;
    }
}

@media screen and (max-height: 600px) {    
    .input input{
        font-size: 13px;
        padding: 10px;
    }
}

.input input:focus {
    outline: 0;
    border-bottom: 3px solid black;
}

#loginContextHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#loginContextHeader h2 {
    margin: 0 auto;
    font-weight: 500;
    font-size: 30px;
}

#loginContextHeader p {
    color: #888;
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #loginContextHeader h2 {
        font-size: 20px;
        margin-bottom: 0;
    }
}

#loginSubmit {
    display: none;
}

#labelLoginSubmit {
    display: block;
    background-color: rgb(106 101 255);
    border: 0;
    width: max-content;
    padding: 10px 50px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}

#labelLoginSubmit span {
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 2;
}

#labelLoginSubmit::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: black;
    transition-duration: 0.5s;
    border-radius: 5px 0 0 5px;
}

#labelLoginSubmit::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background-color: black;
    transition-duration: 0.5s;
    border-radius: 0 5px 5px 0;
}

#labelLoginSubmit:hover::after, #labelLoginSubmit:hover::before {
    width: 50%;
}

#labelLoginSubmit:hover span {
    color: white;
}

@media screen and (max-width : 499px) {
    #labelLoginSubmit {
        margin-top: 20px;
        font-size: 13px;
        padding: 10px 20px;
        
    }
}

#loginFormFooter {
    text-align: right;
    width: 360px;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width : 499px) {
    #loginFormFooter {
        max-width: 400px;
        min-width: 300px;
        width: 90%;
    }
}

#loginFormFooter a {
    color: rgb(106 101 255);
    font-size: 16px;
    text-decoration: none;
}

#loginFormFooter a:visited {
    color: rgb(106 101 255);
}

#loginFormFooter a:hover {
    color: black
}


#message {
    width: 360px;
    margin: 0 auto;
    font-weight: 400;
}

@media screen and (max-width : 499px) {
    #loginFormFooter a {
        font-size: 13px;
        max-width: 400px;
        min-width: 250px;
        width: 90%;
        margin: 0 auto;
    }

    #message {
        max-width: 400px;
        min-width: 250px;
        width: 90%;
        font-size: 13px;
        margin: 0 auto;

    }
}

@media screen and (max-height: 600px) {
    #loginFormFooter a {
        font-size: 13px;
    }

    #message {
        font-size: 13px;
        margin: 0 auto;
    }
}


#loginLogo {
    width: 32px;
    height: 32px;
}

#loginContextFooter {
    margin-top: 50px;
}

#loginContextFooter a {
    color: rgb(106 101 255);
    text-decoration: none;
    font-weight: 500;
}

#loginContextFooter a:visited {
    color: rgb(106 101 255);
    text-decoration: none;
    font-weight: 500;
}

#loginContextFooter a:hover {
    color: black;
}