#signUp {
    background-color: rgba(244, 91, 105);
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;

}

@media screen and (max-width : 499px) {
    #signUp {
        height: 95vh;
    }
}

@media screen and (max-height: 600px) {
    #signUp {
        height: 100vh;
        overflow-y: scroll;
    }
}


#signUpMain {
    background-color: #fff;
    width: 450px;
    height: 575px;
    border-radius: 20px;
}

@media screen and (max-width : 499px) {
    #signUpMain {
        width: 95%;
        height: 400px;
    }
}

@media screen and (max-height: 600px) {
    #signUpMain {
        height: 350px;
        overflow-y: scroll;
        margin-top: 50px;
    }
}

#signUpMain h2 {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 30px;
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #signUpMain h2 {
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

.signUpInput label, .signUpInput input {
    display: block;
}

.signUpInput input {
    border-radius: 5px;
    font-size: 16px;
    background: #e8e7e7;
    border: 1px solid #F1F0E8;
    box-sizing: border-box;
    padding: 12px;
    margin: 8px 0;
    width: 360px;
    margin: 0 auto;
}

@media screen and (max-width : 499px) {
    .signUpInput input {
        font-size: 13px;
        padding: 10px;
        width: 90%;
        max-width: 400px;
        min-width: 300px;
    }
}

@media screen and (max-height: 600px) {
    .signUpInput input {
        font-size: 13px;
        padding: 5px;
    }
}

.signUpInput label {
    width: 360px;
    margin: 0 auto;
    margin-top: 25px;
    font-weight: bold;
}


@media screen and (max-width : 499px) {
    .signUpInput label {
        width: 90%;
        max-width: 400px;
        min-width: 300px;
        margin-top: 10px;
        font-size: 13px;
    }
}

@media screen and (max-height: 600px) {
    .signUpInput label {
        margin-top: 10px;
        font-size: 13px;
    }
}

#signUpForm input[type=submit] {
    display: block;
    background-color: rgba(244, 91, 105, 1);
    width: max-content;
    padding: 10px 40px;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(244, 91, 105, 1);
    border-radius: 10px;
    margin-top: 40px;
}

#signUp #message {
    width: 360px;
    margin: 0 auto;
    font-weight: 400;
    margin-top: 5px;
}

@media screen and (max-width : 499px) {
    #signUpForm input[type=submit] {
        margin-top: 20px;
        font-size: 13px;
        padding: 10px 20px;
    }

    #signUp #message {
        width: 90%;
        max-width: 400px;
        min-width: 300px;
        font-size: 13px;
    }
}

@media screen and (max-height: 600px) {
    #signUpForm input[type=submit] {
        margin-top: 20px;
        font-size: 13px;
        padding: 10px 20px;
    }

    #signUp #message {
        font-size: 13px;
    }
}