
#projectList {
    width: 95%;
    background-color: var(--taskColor);
}

.project {
    list-style: none;
    width: 100%;
}

.projectHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(244, 91, 105);
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.projectHeader:hover {
    background-color: #10162F;
}

.projectHeader h3 {
    color: white;
    margin-left: 10px;
    transition-duration: 0.5s;
}

.projectHeader:hover h3 {
    margin: 5px 0px 5px 10px;
    font-size: 25px;
}

.projectMain {
    transition-duration: 0.75s;
    transition-property: height;
    border-top: 0;
    height: 0px;
}

.projectDescription p {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 10px;
}

@media screen and (max-width : 499px) {
    .projectDescription p {
        font-size: 14px;
    }
}

.hiddenProject {
    height: 0px;
    visibility: hidden;
    opacity: 0;
}

.visibleProject {
    border: 2px dashed gray;
    opacity: 1;
    height: 200px;
    visibility: visible;
}

@media screen and (max-width : 499px) {
    .visibleProject {
        height: 150px;
    }
}

.backgroundNonDelete {
    background-color: #FFF0E5;
    background-color: white;
}

.backgroundDelete {
    background-color: antiquewhite;
}

.projectFunction {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
    height: 40px;
}

.projectButton {
    box-shadow: 5px 5px black;
    transition-duration: 500ms;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    height: max-content;
}

.projectButton:hover {
    box-shadow: 0px 0px white;
    margin-top: 5px;
    margin-left: 5px;
}

.projectButton:active {
    box-shadow: 0px 0px white;
    margin-top: 5px;
    margin-left: 5px;
}

.editButton {
    background-color: #008FFF;
}

.deleteButton {
    background-color: #F86363;
}

.projectButton figure {
    display: flex;
    align-items: center;
}

.projectButton img {
    height: 24px;
    width: 24px;
}

.projectButton figcaption {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

@media screen and (max-width : 499px) {
    .projectFunction {
        margin-top: 20px;
    }

    .projectFunction img {
        height: 16px;
        width: 16px;
    }
    
    .projectFunction figcaption {
        font-size: 12px;
    }
    
}

.projectFunction button {
    background-color: #000;
    border: 0;
    padding: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width : 499px) {
    .projectFunction button {
        font-size: 12px;
    }
}
