
#projectList {
    width: 95%;
    display: flex;
    flex-flow: row wrap;
}

.project {
    list-style: none;
    width: 275px;
    border: 1px solid black;
    margin-right: 30px;
    margin-bottom: 20px;
    height: max-content;
    background-color: #FFE893;
    border-radius: 20px;
    background-color: #FFFDF0;
}

.projectHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(244, 91, 105);
    cursor: pointer;
    transition-duration: 0.5s;
    height: 46.67px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.projectHeader:hover {
    background-color: #10162F;
}

.projectHeader h3 {
    color: white;
    transition-duration: 0.5s;
    margin: 0 auto;
    font-size: 25px;
}

.projectHeader:hover h3 {
    font-size: 30px;
}

.projectMain {
    transition-duration: 0.75s;
    transition-property: height;
    border-top: 0;
    height: 0px;
}

.projectDescription p {
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 10px;
}

@media screen and (max-width : 499px) {
    .projectDescription p {
        font-size: 14px;
    }
}

.hiddenProject {
    height: 0px;
    visibility: hidden;
    opacity: 0;
}

.visibleProject {
    border: 2px dashed gray;
    opacity: 1;
    height: 175px;
    visibility: visible;
}

@media screen and (max-width : 499px) {
    .visibleProject {
        height: 150px;
    }
}

.backgroundNonDelete {
    background-color: #FFF0E5;
    background-color: white;
}

.backgroundDelete {
    background-color: antiquewhite;
}

.projectFunction {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 40px;
}

.projectButton {
    box-shadow: 5px 5px black;
    transition-duration: 500ms;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    height: max-content;
}

.projectButton:hover {
    box-shadow: 0px 0px white;
    margin-top: 5px;
    margin-left: 5px;
}

.projectButton:active {
    box-shadow: 0px 0px white;
    margin-top: 5px;
    margin-left: 5px;
}

.editButton {
    background-color: #008FFF;
}

.deleteButton {
    background-color: #F86363;
}

.projectButton figure {
    display: flex;
    align-items: center;
}

.projectButton img {
    height: 24px;
    width: 24px;
}

.projectButton figcaption {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

@media screen and (max-width : 499px) {
    .projectFunction {
        margin-top: 20px;
    }

    .projectFunction img {
        height: 16px;
        width: 16px;
    }
    
    .projectFunction figcaption {
        font-size: 12px;
    }
    
}

.projectFunction button {
    background-color: #000;
    border: 0;
    padding: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width : 499px) {
    .projectFunction button {
        font-size: 12px;
    }
}

.taskList {
    max-height: 400px;
    overflow-y: auto;
}

.taskList::-webkit-scrollbar {
    width: 5px;
}
  
.taskList::-webkit-scrollbar-track {
    background-color: #000;
}

.taskList::-webkit-scrollbar-thumb {
    background-color: grey;
}

.finishedListTaskButton {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.finishedListTaskButton button {
    cursor: pointer;
    width: 150px;
    background-color: #213555;
    background-color: #8D0B41;
    border: 0;
    color: #fff;
    font-weight: 600;
    margin: 0 auto;
    padding: 5px 0px;
    font-size: 12px;
    border-radius: 10px;
    border: 0px solid black;
    box-shadow: 0px 5px #8D0B41;
    transition-duration: 300ms;
    margin-bottom: 10px;
}

.finishedListTaskButton button:hover {
    transform: translate(0px, 5px);
    box-shadow: 0px 0px white;
}

.finishedListTaskVisible {
    transition-duration: 500ms;
}

.finishedListTaskNonVisible {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    visibility: 0;
    transition-duration: 500ms;
}

.progress {
    padding: 7px 0px;
}

.progress table {
    width: 180px;
    margin: 0 auto;
    height: 20px;
    border-collapse: collapse;
    border-radius: 1em;
}

.progress table td {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}

.emptyProgress table td {
    border-radius: 10px;
    background-color: white;
    background-color: #213555;
    background-color: black;
    color: white;
}

.nonEmptyProgress table td {
    color: white;
}

.nonEmptyProgress table tbody td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nonEmptyProgress table tbody td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.failingProcess {
    background-color: #F72C5B;
}

.pendingProcess {
    background-color: #FF8000;
}

.fulfilledProcess {
    background-color: #5CB338;
}

.zeroPercent {
    display: none;
}