@media screen and (max-width : 499px) {
    #sortTaskName, #sortTimeCreated, #sortTimeDeadline {
        display: flex;
    }   
}

#sortForm {
    margin-left: 10px;
    margin-top: 10px;
}

#sortForm .statusBox {
    display: inline-flex;
    align-items: center;
}


#sortForm label{
    font-size: 14px;
    margin-right: 10px;
}

#sortForm input[type=checkbox] {
    height: 18px;
    width: 18px;
    margin-right: 2px;
    box-sizing: border-box;
}

@media screen and (max-width : 499px) {
    #sortForm .statusBox input[type=checkbox]{
        margin-left: 10px;
    }
    #sortForm label{
        margin-right: 0;
    }
}

#sortForm input[type=checkbox]:checked {
    accent-color: rgba(244, 91, 105);
}

#clearSort {
    color: white;
    background-color: #000;
    border: 0;
    padding: 5px;
    margin: 10px 0;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.2s;
    border: 0;
    cursor: pointer;
    display: block;
}

#clearSort:active {
    color: black;
    background-color: #fff;
}