* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width1024Default: 54px;
    --width1024Hover: 200px;
    --width850Default: 45px;
    --width850Hover: 200px;
    --width499Default: 45px;
    --width499Hover: 150px;
    --backgroundColorMain: #fff;
    --taskColor: #fff;
    --commomRedColor: rgba(244, 91, 105, 1);
}

#userPage {
    display: grid;
    grid-template-columns: var(--width1024Default) 1fr;
    overflow-y: visible;
    grid-template-rows: 100%;
    height: 100%;
}

@media screen and (max-width : 499px) {
    #userPage {
        grid-template-columns: var(--width499Default) 1fr;
    }
}

@media screen and (min-width: 500px) and (max-width : 850px) {

}

@media screen and (max-height: 600px) {

}

#userNavigationBar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    background-color: rgba(244, 91, 105);
    width: var(--width1024Default);
    overflow-x: clip;
    transition-duration: 0.3s;
    z-index: 999;
    overflow-y: visible;
}

#userNavigationBar:hover {
    width: var(--width1024Hover);
}

@media screen and (max-width : 499px) {
    #userNavigationBar {
        width: var(--width499Default);
    }
    #userNavigationBar:hover {
        width: var(--width499Hover);
    }
}

#userNavigationBar #companyName {
    background-color: #000;
    overflow-x:clip;
    width: var(--width1024Default);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    height: 50px;
}

#userNavigationBar #companyName h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: none;
}

#userNavigationBar:hover #companyName {
    width: var(--width1024Hover);
}

@media screen and (max-width : 499px) {
    #userNavigationBar #companyName {
        width: var(--width499Default);
    }
    #userNavigationBar:hover #companyName {
        width: var(--width499Hover);
    }
}

#userNavigationBar:hover #companyName img {
    display: none;
}

#userNavigationBar:hover #companyName h3 {
    display: block;
}

/* ============================== PAGE NAVIGATION ============================== */
/* ------------------------------ DEFAULT ------------------------------ */

#userNavigationBar #pageNavigation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: var(--width1024Default);
}

@media screen and (max-width : 499px) {
    #userNavigationBar #pageNavigation {
        width: var(--width499Default);
    }
}

#userNavigationBar #pageNavigation li {
    list-style-type: none;
    margin: 25px 0;
    margin-left: 6px;
    overflow-x: clip;
}

#userNavigationBar #pageNavigation a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#userNavigationBar #pageNavigation a img {
    padding: 5px;
    border-radius: 50%;
}

@media screen and (max-width : 499px) {
    #userPage #pageNavigation a img{
        width: 36px;
        height: 36px;
    }
}

#userNavigationBar #pageNavigation a p {
    font-weight: 500;
    color: black;
    padding: 5px;
    font-size: 1.5rem;
}

@media screen and (max-width : 499px) {
    #userNavigationBar #pageNavigation a p {
        padding: 6.5px;
        font-size: 1rem;
        height: 36px;
    }
    
}

#userNavigationBar #pageNavigation a.match img {
    background-color: white;
    border: 1px solid white;
}


/* ------------------------------ HOVER ------------------------------ */
#userNavigationBar:hover #pageNavigation {
    width: var(--width1024Hover);
}

#userNavigationBar:hover #pageNavigation nav {
    width: var(--width1024Hover);
}

#userNavigationBar:hover #pageNavigation a p {
    padding-left: 0;
}

#userNavigationBar:hover #pageNavigation a.match img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#userNavigationBar:hover #pageNavigation a.match p {
    border: 1px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}

#userContent{
    grid-column: 2 / 3;
    background-color: var(--backgroundColorMain);
}

@media screen and (max-width : 499px) {
    #userContent{
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #000;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 100vw;
}
