* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width1024Default: 100px;
    --width1024Hover: 200px;
    --width850Default: 45px;
    --width850Hover: 200px;
    --width499Default: 45px;
    --width499Hover: 150px;
    --backgroundColorMain: #FFF0E5;
    --backgroundColorMain: #fff;
    --taskColor: #fff;
    --commomRedColor: rgba(244, 91, 105, 1);
}

#userPage {
    background-color: #e2eafc;
}

@media screen and (min-width : 499px) {
    #userPage {
        display: grid;
        grid-template-columns: 200px 1fr;
        overflow-y: visible;
    }
}

@media screen and (max-width : 499px) {
    #userPage {
        grid-template-columns: var(--width499Default) 1fr;
    }
}

#userNavigationBar {
    grid-column: 1 / 2;
    background-color: #7b71cc;
    width: 80px;
    overflow-x: clip;
    z-index: 10;
    height: 600px;
    position: fixed;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 20px;
}

#userNavigationBarHeader {
    border-bottom: 1px solid #efefef;
}

@media screen and (max-width : 499px) {
    #userNavigationBar {
        width: var(--width499Default);
        transition-duration: 0.3s;
    }
    #userNavigationBar:hover {
        width: var(--width499Hover);
    }
}

#userNavigationBar #companyName {
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#userNavigationBar #companyName img {
    width: 25px;
    height: 25px;
}


@media screen and (max-width : 499px) {
    #userNavigationBar #companyName {
        width: var(--width499Default);
    }
    #userNavigationBar:hover #companyName {
        width: var(--width499Hover);
    }
}

/* ============================== PAGE NAVIGATION ============================== */
/* ------------------------------ DEFAULT ------------------------------ */

#userNavigationBar #pageNavigation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
}

#userNavigationBar #pageNavigation ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (max-width : 499px) {
    #userNavigationBar #pageNavigation {
        width: var(--width499Default);
    }
}

#userNavigationBar #pageNavigation li {
    list-style-type: none;
    margin: 10px 0;
}

#userNavigationBar #pageNavigation a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
}


#userNavigationBar #pageNavigation a:hover {
    background-color: #000;
}

#userNavigationBar #pageNavigation a.match {
    background-color: #6247aa;
    border-right: 0;
}

/* ------------------------------ HOVER ------------------------------ */
#userContent{
    grid-column: 2 / 3;
    background-color: #e2eafc;
    min-height: 92vh;
}

@media screen and (max-width : 499px) {
    #userContent{
        width: 100%;
    }
}

#userPage footer {
    grid-column: 1 / 3;
}

#userPage .companyName {
    display: flex;
    align-items: center;
}

#userPage .companyName img {
    height: 48px;
    width: 48px;
    cursor: pointer;
}

#userPage .companyName p {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    #userPage #companyName p {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
    
}
#userPage footer .companyName p {
    color: white;
}

#userPage footer .companyName img {
    cursor: default;
}