#userHomepage {
    background-color: #e2eafc;
}

#userHomepageHeader {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    height: 90px;
}

#userHomepageTool {
    margin-bottom: 20px;
}
@media screen and ((max-width : 499px) or ((min-width: 500px) and (max-width : 850px))){
    #userHomepageBody {
        display: block;
    }
}

#filterAndSort {
    background-color: white;
    overflow-y: auto;
    justify-content: space-evenly;
    width: 100%;
    max-width: 300px;
    background-color: rgb(245, 245, 245);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: max(100vh - 50px, 100%);
}

@media screen and ((max-width : 499px) or (((min-width: 500px) and (max-width : 850px)))) {
    #filterAndSort {
        max-width: 100%;
        width: 95%;
        justify-self: flex-end;
    }
}

#filterAndSort h4{
    margin-top: 5px;
    font-size: 14px;
}

#filterAndSort h3{
    font-size: 16px;
}

@media screen and (max-width : 499px) {
    #filterAndSort h4{
        margin-top: 5px;
        font-size: 12px;
    }
    
    #filterAndSort h3{
        font-size: 14px;
    }
}

#filterAndSort::-webkit-scrollbar {
    width: 1px;
}
  
#filterAndSort::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 100vw;
}

#filterAndSort::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 100vw;
}

#userHomepageMain {
    min-width: 275px;
    display: flex;
    justify-content: center;
}


.pageActive {
    margin-top: 30px;
}

.pageActive p {
    color: rgb(69 56 120);
}

.pageActive h2 {
    color: rgb(14 0 74);
}